footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    background:#999;
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Nunito', "Helvetica Neue", sans-serif; 
}
