<div class="row">
    <div [class]="iniciarJogo ? '' : 'col-md-12'">
        <app-modo-administrador *ngIf="clickMenuAdministrativo; else layout"></app-modo-administrador>
        <ng-template #layout>
            <app-menu-inicial (dificuldade)="receberDificuldade($event)" *ngIf="!dificuldadeSelecionada"></app-menu-inicial>
            <app-jogo [dificuldadeSelecionada]="dificuldadeSelecionada" *ngIf="iniciarJogo"></app-jogo>
        </ng-template>
    </div>
</div>
<button class="btn btn-link btn-administrativo" (click)="abrirMenuAdministrativo()" *ngIf="!clickMenuAdministrativo">
    Menu Administrativo
</button>
<button class="btn btn-link btn-administrativo" (click)="fecharMenuAdministrativo()" *ngIf="clickMenuAdministrativo">
    Voltar para Jogo
</button>